<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>draft new post</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/starry-background.js"></script>
</head>
<body>
    <%- include('../../partials/header') %>
    <main class="container mt-4">
        <div class="post-form">
            <h1 class="neon-text pulse"><%= post ? 'Edit Post' : 'Create New Post' %></h1>
            <form action="<%= post ? `/blog/admin/edit/${post._id}` : '/blog/admin/create' %>" method="POST">
                <div class="form-group">
                    <label for="title" class="neon-text">title</label>
                    <input type="text" id="title" name="title" required value="<%= post ? post.title : '' %>" class="form-control">
                </div>
                <div class="form-group">
                    <label for="content" class="neon-text">content</label>
                    <textarea id="content" name="content" required class="form-control"><%= post ? post.content : '' %></textarea>
                </div>
                <button type="submit" class="cta-button float"><%= post ? 'upd' : 'create' %> Post</button>
            </form>
        </div>
    </main>
    <%- include('../../partials/footer') %>
</body>
</html>